AutomovilWeb/web/WEB-INF/wsdl/localhost_8080/AutomovilSoapWS/AutomovilWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService.com/">

<xs:element name="actualizarCaracteristicas" type="tns:actualizarCaracteristicas"/>

<xs:element name="actualizarCaracteristicasResponse" type="tns:actualizarCaracteristicasResponse"/>

<xs:element name="actualizarDetalleVehiculo" type="tns:actualizarDetalleVehiculo"/>

<xs:element name="actualizarDetalleVehiculoResponse" type="tns:actualizarDetalleVehiculoResponse"/>

<xs:element name="actualizarVehiculo" type="tns:actualizarVehiculo"/>

<xs:element name="actualizarVehiculoResponse" type="tns:actualizarVehiculoResponse"/>

<xs:element name="borrarCaracteristicas" type="tns:borrarCaracteristicas"/>

<xs:element name="borrarCaracteristicasResponse" type="tns:borrarCaracteristicasResponse"/>

<xs:element name="borrarDetalleVehiculo" type="tns:borrarDetalleVehiculo"/>

<xs:element name="borrarDetalleVehiculoResponse" type="tns:borrarDetalleVehiculoResponse"/>

<xs:element name="borrarVehiculo" type="tns:borrarVehiculo"/>

<xs:element name="borrarVehiculoResponse" type="tns:borrarVehiculoResponse"/>

<xs:element name="caracteristicas" type="tns:caracteristicas"/>

<xs:element name="consultarCaracteristicas" type="tns:consultarCaracteristicas"/>

<xs:element name="consultarCaracteristicasResponse" type="tns:consultarCaracteristicasResponse"/>

<xs:element name="consultarDetalleVehiculo" type="tns:consultarDetalleVehiculo"/>

<xs:element name="consultarDetalleVehiculoResponse" type="tns:consultarDetalleVehiculoResponse"/>

<xs:element name="consultarListaCaracteristicas" type="tns:consultarListaCaracteristicas"/>

<xs:element name="consultarListaCaracteristicasResponse" type="tns:consultarListaCaracteristicasResponse"/>

<xs:element name="consultarListaDetalleVehiculo" type="tns:consultarListaDetalleVehiculo"/>

<xs:element name="consultarListaDetalleVehiculoResponse" type="tns:consultarListaDetalleVehiculoResponse"/>

<xs:element name="consultarListaVehiculo" type="tns:consultarListaVehiculo"/>

<xs:element name="consultarListaVehiculoResponse" type="tns:consultarListaVehiculoResponse"/>

<xs:element name="consultarVehiculo" type="tns:consultarVehiculo"/>

<xs:element name="consultarVehiculoResponse" type="tns:consultarVehiculoResponse"/>

<xs:element name="insertarCaracteristicas" type="tns:insertarCaracteristicas"/>

<xs:element name="insertarCaracteristicasResponse" type="tns:insertarCaracteristicasResponse"/>

<xs:element name="insertarDetalleVehiculo" type="tns:insertarDetalleVehiculo"/>

<xs:element name="insertarDetalleVehiculoResponse" type="tns:insertarDetalleVehiculoResponse"/>

<xs:element name="insertarVehiculo" type="tns:insertarVehiculo"/>

<xs:element name="insertarVehiculoResponse" type="tns:insertarVehiculoResponse"/>

<xs:element name="vehiculo" type="tns:vehiculo"/>

<xs:complexType name="borrarVehiculo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarVehiculoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarVehiculo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarVehiculoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCaracteristicas">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:int"/>
<xs:element name="arg6" type="xs:int"/>
<xs:element name="arg7" type="xs:int"/>
<xs:element name="arg8" type="xs:int"/>
<xs:element name="arg9" type="xs:int"/>
<xs:element name="arg10" type="xs:int"/>
<xs:element name="arg11" type="xs:int"/>
<xs:element name="arg12" type="xs:int"/>
<xs:element name="arg13" type="xs:int"/>
<xs:element name="arg14" type="xs:int"/>
<xs:element name="arg15" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCaracteristicasResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarCaracteristicas">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarCaracteristicasResponse">
<xs:sequence>
<xs:element name="return" type="tns:caracteristicas" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caracteristicas">
<xs:sequence>
<xs:element name="aceleracion" type="xs:int" minOccurs="0"/>
<xs:element name="cajacambios" type="xs:int" minOccurs="0"/>
<xs:element name="capdeposito" type="xs:int" minOccurs="0"/>
<xs:element name="combustible" type="xs:string" minOccurs="0"/>
<xs:element name="consumeex" type="xs:int" minOccurs="0"/>
<xs:element name="consumem" type="xs:int" minOccurs="0"/>
<xs:element name="consumom" type="xs:int" minOccurs="0"/>
<xs:element name="consumou" type="xs:int" minOccurs="0"/>
<xs:element name="emisionesco2" type="xs:int" minOccurs="0"/>
<xs:element name="idCaracteristicas" type="xs:int" minOccurs="0"/>
<xs:element name="nocilindros" type="xs:int" minOccurs="0"/>
<xs:element name="nopuertas" type="xs:int" minOccurs="0"/>
<xs:element name="potencimax" type="xs:int" minOccurs="0"/>
<xs:element name="traccion" type="xs:string" minOccurs="0"/>
<xs:element name="velmax" type="xs:int" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
<xs:element name="volumenmaletero" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarDetalleVehiculo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarDetalleVehiculoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarDetalleVehiculo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarDetalleVehiculoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarVehiculo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarVehiculoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarCaracteristicas">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:int"/>
<xs:element name="arg7" type="xs:int"/>
<xs:element name="arg8" type="xs:int"/>
<xs:element name="arg9" type="xs:int"/>
<xs:element name="arg10" type="xs:int"/>
<xs:element name="arg11" type="xs:int"/>
<xs:element name="arg12" type="xs:int"/>
<xs:element name="arg13" type="xs:int"/>
<xs:element name="arg14" type="xs:int"/>
<xs:element name="arg15" type="xs:int"/>
<xs:element name="arg16" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarCaracteristicasResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarVehiculo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarVehiculoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarListaCaracteristicas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarListaCaracteristicasResponse">
<xs:sequence>
<xs:element name="return" type="tns:caracteristicas" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarListaDetalleVehiculo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarListaDetalleVehiculoResponse">
<xs:sequence>
<xs:element name="return" type="tns:detalleVehiculoPK" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleVehiculoPK">
<xs:sequence>
<xs:element name="codigoCaracteristicas" type="xs:int"/>
<xs:element name="codigoVehiculo" type="xs:int"/>
<xs:element name="idDetalleVehiculo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarCaracteristicas">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarCaracteristicasResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarDetalleVehiculo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarDetalleVehiculoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarListaVehiculo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarListaVehiculoResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehiculo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehiculo">
<xs:sequence>
<xs:element name="idVehiculo" type="xs:int" minOccurs="0"/>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
<xs:element name="modelo" type="xs:string" minOccurs="0"/>
<xs:element name="serie" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarDetalleVehiculo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarDetalleVehiculoResponse">
<xs:sequence>
<xs:element name="return" type="tns:detalleVehiculoPK" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>