AutomovilWeb/src/conf/xml-resources/web-service-references/ResporteWS/wsdl/localhost_8080/ResporteWS/ResporteWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service.web/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service.web/">

<xs:element name="actualizarVehiculo" type="tns:actualizarVehiculo"/>

<xs:element name="actualizarVehiculoResponse" type="tns:actualizarVehiculoResponse"/>

<xs:element name="calificacion" type="tns:calificacion"/>

<xs:element name="consultarClasificacion" type="tns:consultarClasificacion"/>

<xs:element name="consultarClasificacionResponse" type="tns:consultarClasificacionResponse"/>

<xs:element name="consultarListaClasificacion" type="tns:consultarListaClasificacion"/>

<xs:element name="consultarListaClasificacionResponse" type="tns:consultarListaClasificacionResponse"/>

<xs:element name="insertarClasificacion" type="tns:insertarClasificacion"/>

<xs:element name="insertarClasificacionResponse" type="tns:insertarClasificacionResponse"/>

<xs:complexType name="consultarListaClasificacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarListaClasificacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:calificacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calificacion">
<xs:sequence>
<xs:element name="comparacion" type="xs:int" minOccurs="0"/>
<xs:element name="idClasificacion" type="xs:int" minOccurs="0"/>
<xs:element name="idComparacion" type="xs:int"/>
<xs:element name="idUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="idVehiculo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClasificacion">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClasificacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarClasificacion">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarClasificacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:calificacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarVehiculo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarVehiculoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>